extends layout

block content
  h1= title
  p Welcome to #{title}

  div.create-user
    form.create-user-form
      label.username-label Username
        input.username
      input(type="submit", value="Create User")

  div.game-information.hidden
    ul.player-list

  div.games-list-container.hidden
    ul.games-list
    form.new-game-form
      label.game-name-label Game name
        input.game-name
      input(type="submit", value="Create Game")

  :coffeescript
    socket = io.connect(window.location.hostname)

    socket.on "update player list", (players) ->
      $player_list = $(".player-list")
      $player_list.empty()
      htmlString = ""

      _.each players, (player) ->
        htmlString += "<li>#{player.username}</li>"

      $player_list.html(htmlString)

    socket.on "update games list", (games) ->
      $games_list = $(".games-list")
      $games_list.empty()
      htmlString = ""

      _.each games, (game) ->
        htmlString += "<li><a href='/game/#{game.id}'>#{game.game_name}</a></li>"

      $games_list.html(htmlString)

    $ ->
      $(".create-user-form").on "submit", (e) ->
        e.preventDefault()

        $create_user = $(".create-user")
        $game_information = $(".game-information")
        $games_list_container = $(".games-list-container")
        $username = $create_user.find(".username")
        username = $username.val()

        socket.emit "new player", {username: username}
        $create_user.hide()
        $game_information.removeClass "hidden"
        $games_list_container.removeClass "hidden"

      $(".new-game-form").on "submit", (e) ->
        e.preventDefault()

        $new_game = $(".new-game-form")
        $game_name = $new_game.find(".game-name")
        game_name = $game_name.val()
        socket.emit "new game", {game_name: game_name}
