extends layout

block content
  h1= title
  p Welcome to #{title}

  div.join-game
    form.join-game-form
      label.username-label Username
        input.username
      input(type="submit", value="Join Game")

  div.game-information.hidden
    ul.player-list

  table.game-board
    tr.categories

  div.json-dump.hidden
    p= JSON.stringify(result.categories)

  :coffeescript
    socket = io.connect(window.location.hostname)

    socket.on "update player list", (players) ->
      $player_list = $(".player-list")
      $player_list.empty()
      htmlString = ""

      _.each players, (player) ->
        htmlString += "<li>#{player.username}</li>"

      $player_list.html(htmlString)

    $ ->
      $(".join-game-form").on "submit", (e) ->
        e.preventDefault()

        $join_game = $(".join-game")
        $game_information = $(".game-information")
        $username = $join_game.find(".username")
        username = $username.val()

        socket.emit "new player", {username: username}
        $join_game.hide()
        $game_information.removeClass "hidden"

      $categories = $("tr.categories")
      categories = JSON.parse($(".json-dump p").text())
      clues = []
      $game_board = $(".game-board")

      _.each categories, (category) ->
        $categories.append("<td class='category-name'>#{category.name}</td>")
        temp_clue_array = []
        _.each category.clues, (clue) ->
          temp_clue_array.push clue
        clues.push temp_clue_array

      clues = _.zip(clues[0], clues[1], clues[2], clues[3], clues[4], clues[5])
      _.each clues, (row, index) ->
        $game_board.append("<tr class='row#{index+1}'></tr>")
        _.each row, (clue) ->
          $("tr.row#{index+1}").append("<td class='clue'>#{clue.value}</td>")
